
.main{
    background-color: var(--background-colour);
    font-family: var(--font);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.home_link{
    font-size: 15px;
    padding-top: 20px;
}

.carousel{
    padding-top: 200px ;
}