.main{
    background-color: var(--background-colour);
    font-family: var(--font);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 20px;
}

.values{
    font-size: 40px;
    background-color: gray;
    color: white;
}

.contents{
    padding-top: 30vh;
}

.contents > div{
    padding: 30px;
    text-align: center;
    align-items: center;
}


.home_link{
    font-size: 15px;
    padding-top: 20px;
}

.button{
    font-size: 20px;
}